div{

}
.container{
  border: 1px solid;
  background-color: #bbcebb;

}

.row1 , .row2 {
  background-color: #854d24;
}

.row2 button{
  width: 100%;
  height: 100px;
  background-color: #969696;
  color: white;
  font-size: 20px;
}
.col-md-3{
  align-items: center;
}
.col-md-6{
  display: flex;
}
.ninjahere{
  height: 450px;
}
.tab-content{
  height: 200px;
  overflow-y: auto;
  background-color: #bbcebb;
}

.row4{
  background-color: #bbcebb;
}
/*.row3{
  height: 350px;
}*/


/*i.ninja{
  width: 300px;
  background-image: url(images/ninja.png)no-repeat 0px 0px;
  vertical-align: middle;
}*/
